@charset "UTF-8";

/* Configuração do corpo da página*/
section#conteudo {
    width: 1000px;
    margin: auto;
} 

h1 {
    padding-left: 20px;
}

h3 {
    padding-left: 20px;
}

h3#info {
    display: block;
    margin-top: 20px;
    padding-left: 20px;
}

p {
  padding-left: 30px;
  text-align: justify;
  width: 1000px;
  line-height: 25px;
}

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px;
}

iframe#filme{
    display: block;
    position: relative;
    left: 90px;
    top: 20px;
}