@charset "UTF-8";

/* Configuração do corpo da página*/
section#conteudo {
    width: 1000px;
    margin: auto;
}

/*Configuração do frame*/
iframe#framespec {
    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;
}

iframe#framespec::-webkit-scrollbar{
    display: none;
}

h1 {
    padding-left: 20px;
}

h3 {
    padding-left: 20px;
}

h3#info {
    display: block;
    margin-top: 20px;
    padding-left: 20px;
}

p {
    padding-left: 30px;
    text-align: justify;
    width: 1000px;
    line-height: 25px;
  }
